.file-upload {
  display: flex;
  flex-direction: column;
}

.file-upload img {
  max-height: 100%;
  max-width: 100%;
}

#drop-zone {
  border: 1px solid #114bde4e;
  border-radius: 10px;
  color: #c6c6c6;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  gap: 5px;
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

#drop-zone input {
  color: transparent;
  padding: 2px;
  height: 100px;
}

#drop-zone input::-webkit-file-upload-button {
  visibility: hidden;
}

#drop-zone input:before {
  content: '+';
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

#drop-zone *:not(input) {
  pointer-events: none;
}

#drop-zone.drag-over {
  background: #0009;
}

.preview-wrapper {
  width: 50%;
  overflow-x: auto;
}

.preview {
  display: flex;
}

.preview img {
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .file-upload {
    flex-direction: column;
  }

  .preview-wrapper {
    width: 85vw;
  }
}
